@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0px;
    padding:0px;
}
:root{
    --cor1:#5BD7F0;
    --cor2:#4BFACF;
    --cor3:#74FA2D;
    --cor4:#58FA43;
    --cor5:#f5f5f5;
    --fontH:'Merienda';
    --fontM:'Montserrat';
    --fontP:'Raleway';
}
body{
    background-color: var(--cor5);
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor4));
    font-family: var(--fontH);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
#menu ul{
    background-color: var(--cor3);
    list-style:none;
    position: relative;
    left: auto;
    font-family: var(--fontM);
    font-size: 1.5rem;
    width: 1005;
}
#menu ul li{
    display:inline;
}
#menu ul li a{
    background-color: var(--cor3);
    text-decoration: none;
    padding: 0px 15px;
    color: var(--cor5);
}
#menu ul li a:hover{
    background-color: var(--cor4);
    transition-duration: 0.7s;
    color: black;
}
main{
    width: 1000px;
    margin: auto;
    padding: 10px;
    font-family: var(--fontP);
    line-height: 2rem;
    font-size: 1.3rem;

}
main img{
    width: 100%;
}
main .img1{
    width: 45%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    background-color: var(--cor1);
}
footer p{
    text-align: center;
}
@media screen and (min-device-width:280px){
    body{
        background-color: var(--cor5);
        width: 100%;
    }
    main{
        width: 80%;
    }
    footer{
        width: 100%;
    }
} 